*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
}

.container{
    width: 100%;
    margin: auto;
}

.box{
    height: 100vh;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;

}

.layover{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2)
}

.blocco{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.box h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    
    
}
/*altro modo per posizionare al centro senza text align nella box
h2{
    position: absolute;
    width: 50%;
    hieght:50%;
    OPPURE
    position: absolute;
    transform:translate(-50%, -50%) usare i numeri negativi per centrare perfettamente
    
    
}

per posizionare meglio usare transform con le coordinate

*/




#scarpe-red{
    background-color: red;
    color: yellow;
    
}

.blocco #scarpe-red img , #scarpe-green img , #scarpe-green img{
    width: 100%;

}

#scarpe-green{
    background-color: green;
    color:yellow ;
}

#scarpe-yellow{
    background-color: yellow;
    color: green;
}

